@media only screen and (max-width: 800px) {
  html {
    font-size: 56.25%;
  }
  .navbar .navbar__hamburger,
  .navbar input[type="checkbox"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .navbar__link {
    display: none;
  }
  .slides .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .slides .slide .flipblock-inactive {
    margin-bottom: 4rem;
  }
  .slides .slide .slide__image {
    width: 80vw;
  }
  .slides .slide .slide__description {
    width: 80vw;
  }
  .slides .slide .slide__info-wrapper {
    padding-left: 0;
  }
  .about {
    padding: 10vw;
  }
  .about .about__wrapper {
    width: 80vw;
  }
  .about .about__skills {
    display: none;
  }
  .case {
    padding: 5vw 7vw;
  }
  .case .case__browser-img {
    width: 80vw;
  }
  .case .case__phone-img {
    width: 40vw;
  }
  .gallery .gallery__thumbnail {
    width: 40vw;
    height: 40vw;
  }
  .gallery .gallery__preview {
    max-width: 90vw;
    max-height: 90vh;
  }
}
